.filter-box2 {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e0f2e9;
    padding: 10px;
    box-sizing: border-box;
}

.filter-section2>select {
    font-size: 16px;
    padding: 10px;
}

#container {
    display: flex;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

#container>div:nth-child(1) {
    width: 200px;
    border-radius: 10px;
    padding: 10px;
}

.filter-section {
    padding-bottom: 15px;
}

.filter-section>h3 {
    margin-bottom: 10px;
}

#container>div:nth-child(2) {
    width: 100%;
    padding: 20px;
    /* border: 1px solid #ccc; */
}

.photographers-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 20px;
}

.studio-img {
    height: 150px;
    aspect-ratio: 5/3;
}

.card {
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    overflow: hidden;
    height: 150px;
    cursor: pointer;
}

.studio-info {
    display: flex;
    gap: 10px;
    height: 100%;
}

.studio-details {
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.studio-details h3,
p {
    margin: 0px;
}

.categories,
.locations {
    font-size: 12px;
    display: flex;
    gap: 5px;
}

.category-bubble,
.loc-bubble {
    border-radius: 5px;
    color: white;
    background-color: #57866f;
    padding: 3px 6px;
}

.loc-bubble {
    background-color: rgb(88, 84, 79);
}

.book-btn {
    width: 60px;
    height: 25px;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
}

#pagination>button {
    border: none;
    border-radius: 20px;
    background-color: #f0fef7;
    color: #57866f;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #57866f;
}

#pagination .active {
    color: #f0fef7;
    background-color: #57866f;
    border: 1px solid transparent;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .card {
        height: auto;
    }

    .studio-info {
        flex-direction: column;
        gap: 0px;
    }

    .studio-img {
        height: auto;
        aspect-ratio: 5/3;
    }
}

@media screen and (max-width: 799px) {
    .photographers-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .filter-box2 {
        display: flex;
    }
    .filter-box {
        display: none;
    }
}

@media screen and (max-width: 699px) {
    .card {
        height: auto;
    }

    .studio-info {
        flex-direction: column;
        gap: 0px;
    }

    .studio-img {
        height: auto;
        aspect-ratio: 5/3;
    }
}

@media screen and (max-width: 599px) {
    .filter-box2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .filter-section2>select {
        width: 300px;
    }
}

@media screen and (max-width: 399px) {
    #pagination {
        gap: 5px;
        margin: 10px 0px;
    }
    
    #pagination>button {
        padding: 5px 10px;
        font-size: 12px;
    }
}