#container{
    display: flex;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

#container > div:nth-child(1){
    width: 200px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.filter-section {
    padding-bottom: 15px;
}

#container > div:nth-child(2){
    width: 100%;
    border: 1px solid #ccc;
}

.photographers-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.studio-img {
    width: 200px;
}