nav > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E0F2E9;
    color: #fff;
    height: 40px;
    padding: 10px 20px;
}

Link {
    padding: 5px 10px;
    border: 1px solid red;
}
.navbar__left {
  display: flex;
  align-items: center;
}
.navbar__left img {
    width: auto;
    height: 30px;
    background-blend-mode: multiply;
}

.navbar__right {
    display: flex;
    align-items: center;
}

.navbar__right a {
  padding: 10px 20px;
}

.navbar__right a,button {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.navbar__right span {
    margin-right: 10px;
    color: #333;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    width: 25px;
    cursor: pointer;
  }
  
  .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
  }

  nav button {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }

  nav > div:nth-child(2) > div{
    padding: 10px 10px;
    text-align: center;
    background-color: goldenrod;
  }


  
  
  /* Responsive styling */
  @media (max-width: 1024px) {
    .nav-links {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .nav-links li a {
      padding: 0.5rem 0.75rem;
    }
  }
  
  @media (max-width: 767px) {
    .nav-links a {
      padding: 0.5rem 0.5rem;
    }
    
  }
  
  
  @media screen and (max-width: 500px) {
    nav > div:nth-child(1) {
      height: 80px;
      display: flex;
      flex-direction: column;
    }
    nav > div:nth-child(2) {
      display: none;
    }
  }