/* Basic styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0.5rem 1rem;
  }
  
  .logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5;
  }

  .logo img {
    height: 35px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
  }
  .nav-links li:last-child {
    background-color:rgb(18,180,125);
    color: #fff;
    border-radius:0.25rem;
  }
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0.75rem;
    display: block;
  }

  .nav-links li button  {
    color: #fff;
    text-decoration: none;
    margin: 0 0.75rem;
    display: block;
    height: 30px;
    border:none;
  }
  
  .nav-links li a:hover {
    background-color: #555;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    width: 25px;
    cursor: pointer;
  }
  
  .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
  }


  .slider-image {
    position: relative;
    background-image: url("https://d3btuubl2bvm9d.cloudfront.net/images/2c9f8d6952b600c30152c4a9bff60025/1552548481006-web.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }

  .slider-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .slider-text {
    text-align: center;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .slider-text h3{
    font-size: 1.5rem;
    position: absolute;
    top: 55%;
  }
  .slider-text div{
    width: 150%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: -30%;
    /* border: 2px solid red; */
    margin: auto;
  }

  #category {
    margin: auto;
    color: rgb(18,180,125);;
    font: 700 normal 1.5em 'tahoma';
    text-shadow: 3px 1px #222324, 2px 4px #222324, 3px 5px #222324;
  }
  
  #category_select, #search_city, #search_city_btn{
    height: 2.5rem;
    padding: 0 .75rem;
    margin: 1.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
  #search_city{
    width: 21rem;
    outline: none;
  }
  #category_select{
    border :none;
    border-radius: 0.25rem;
  }
  #search_city_btn{
    background:black;
    color: white;
    border: none;
    padding: 0 1.75rem;
  }

  #search_city_btn:hover, #reg_studio_btn:hover{
    background:rgb(45, 45, 45);
    color:  rgb(18,180,125);
  }

  .types{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    margin: 1rem 0;
  }
  .types>div{
    text-align: center;
    font-size: 0.5rem;
  }
  .types>div>img{
    width: 30%;
  }
  .works{
    text-align: center;
    margin: 2rem;
    background-color: #f6f6f6;
    padding: 2rem;
  }
  .works>div{
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  .works>div>div{
    padding: 2rem;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-bottom: 2rem;
  }
  .works>div>div>img{
    width: 15%;
  }
  .works>div:last-child{
    width: 70%;
    margin: auto;
  }

  .review{
    width: 86.5%;
    padding: 5rem;
    text-align: center;
    -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 87%);
    clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 87%);
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,0.5681460084033614) 26%, rgba(231,45,253,0.24041491596638653) 100%);
  }

  .review>div{
    display: flex;
  }
  .review>div>div{
    margin: 1.5rem;
  }
  .review>div>div>img{
    width: 60%;
    border-radius: 5%;
  }

  .banner{
    transform: translateY(-22%);
    padding-top: 8rem;
    padding-bottom: 2rem;
    width: 100%;
    text-align: center;
    -webkit-clip-path: polygon(0 0, 100% 22%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 22%, 100% 100%, 0 100%);
    background: rgb(110,67,194);
    background: linear-gradient(90deg, rgba(110,67,194,1) 0%, rgba(72,125,232,1) 100%);
  }
  .banner>h1{
    font-size: 3.5rem;
    color: white;
  }
  
  .banner>#reg_studio{
    height: auto;
    padding: 0 .75rem;
    margin: 1.5rem;
    border-radius: 0.25rem;
    font-size: 2rem;
    background:black;
    color: white;
    border: none;
    padding: 1rem 2rem;
  }
  .banner>#reg_studio:hover{
    background:rgb(45, 45, 45);
    color:  rgb(18,180,125);
  }

  .stats{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5rem;
  }

  .footer{
    height:auto;
    padding: 2rem;
    background-color: rgb(33,37,41);
    margin-top: 4rem;
    color: white;
  }
  .footer>div{
    width: 30%;
  }
  .footer>div>div{
    display: flex;
    justify-content: space-between;
  }
  .footer>div>img{
    width: 90%;
  }
  .line{
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: rgb(33,37,41);
    color: white;
  }
  .line2{
    border: 1px solid gray;
    border-left: none;
    border-top: none;
    border-right: none;
    color: white;
    background-color: rgb(33,37,41);
  }
  footer{
    background-color: rgb(33,37,41);
  }
  .line2 a {
    color: white; /* Set the desired color here */
  }
  
  .line2 a:hover {
    color: green; /* Set the desired color for hover state */
  }
  
  /* Responsive styling */
  @media (max-width: 1024px) {
    .nav-links {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .nav-links li a {
      padding: 0.5rem 0.75rem;
    }
    .types {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      margin: 0;
    }
    .works>div>div {
      width: 50%;
    }
    .review>div>div {
      width: 50%;
    }
  }
  
  @media (max-width: 767px) {
    .nav-links a {
      padding: 0.5rem 0.5rem;
    }
    .slider-text>div{
      display: flex;
      flex-direction: column;
    }
    #search_city{
      width: 100%;
    }
    .works>div {
      flex-wrap: wrap;
    }
  
    .works>div>div {
      width: 100%;
      margin-right: 0;
    }

    .review {
      width: 100%;
      padding: 10rem 0;
    }
  
    .review>div {
      flex-wrap: wrap;
      
    }
  
    .review>div>div {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  
    .review>div>div>img {
      width: 50%;
    }
  }
  