.bookings-container {
    padding: 20px;
  }

  .bookings-container > p {
    display: block;
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  h1 {
    font-size: 24px;
    margin: 0px;
    padding: 20px;
  }

  .bookings-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
  
  .booking-card {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
  }
  .booking-card img {
    width: 150px;
    aspect-ratio: 5/3;
    border-radius: 10px;
  }
  
  .booking-card.confirmed .status {
    color: green;
  }

  .booking-card.pending .status {
    color: yellow;
  }
  
  .booking-card.cancelled .status {
    color: red;
  }
  .status {
    font-weight: bold;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  .user-details button {
    width: 150px;
    height: 40px;
    padding: 10px;
    background-color:rgb(254, 162, 181);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-details button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .studio {
    display: flex;
    justify-content: left;
    align-items: start;
    gap: 10px;
  }

  .user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .studio > div > p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
  }
  .studio > div > p:nth-child(2) {
    font-weight: bold;
  }
  

  @media screen and (max-width: 999px) {
    .bookings-container {
      grid-template-columns: repeat(1,1fr);
    }
  }